/* Mobile first design */
.article {
  width: 95%;
  margin: 20px auto;
  padding: 0 10px;
  border: 1px solid gainsboro;
}

.article p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* For TAB view */
@media screen and (min-width: 768px) {
  .article {
    width: 85%;
  }
}

/* For Desktop view */
@media screen and (min-width: 992px) {
  .article {
    width: 75%;
  }
}
